# Caricamento dei database

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
 
comments = pd.read_csv("comments.csv") #1.49GB
courses = pd.read_csv("courses.csv")

comments

,id,course_id,rate,date,display_name,comment
0,88962892,3173036,1.0,2021-06-29T18:54:25-07:00,Rahul,I think a beginner needs more than you think.\...
1,125535470,4913148,5.0,2022-10-07T11:17:41-07:00,Marlo,Aviva is such a natural teacher and healer/hea...
2,68767147,3178386,3.5,2020-10-19T06:35:37-07:00,Yamila Andrea,Muy buena la introducción para entender la bas...
3,125029758,3175814,5.0,2022-09-30T21:13:49-07:00,Jacqueline,This course is the best on Udemy. This breakd...
4,76584052,3174896,4.5,2021-01-30T08:45:11-08:00,Anthony,I found this course very helpful. It was full ...
...,...,...,...,...,...,...
9411722,54471142,567828,5.0,2020-05-10T08:06:29-07:00,Rogelio,I waited to completely finish the course to ra...
9411723,54469534,567828,5.0,2020-05-10T07:51:34-07:00,Rao Saurabh,it was amazing. i learnt a lot
9411724,54466660,567828,5.0,2020-05-10T07:22:30-07:00,Raveesh,Just started with the course and so far the pa...
9411725,54462674,567828,5.0,2020-05-10T06:42:43-07:00,Wendell,"So far, this course has been a really good and..."
9411726,54456596,567828,5.0,2020-05-10T05:37:15-07:00,FATIMAH,Good.

In [30]:
courses

,id,title,is_paid,price,headline,num_subscribers,avg_rating,num_reviews,num_comments,num_lectures,content_length_min,published_time,last_update_date,category,subcategory,topic,language,course_url,instructor_name,instructor_url
0,4715.0,Online Vegan Vegetarian Cooking School,True,24.99,Learn to cook delicious vegan recipes. Filmed ...,2231.0,3.75,134.0,42.0,37.0,1268.0,2010-08-05T22:06:13Z,2020-11-06,Lifestyle,Food & Beverage,Vegan Cooking,English,/course/vegan-vegetarian-cooking-school/,Angela Poch,/user/angelapoch/
1,1769.0,The Lean Startup Talk at Stanford E-Corner,False,0.00,Debunking Myths of Entrepreneurship A startup ...,26474.0,4.50,709.0,112.0,9.0,88.0,2010-01-12T18:09:46Z,NaN,Business,Entrepreneurship,Lean Startup,English,/course/the-lean-startup-debunking-myths-of-en...,Eric Ries,/user/ericries/
2,5664.0,"How To Become a Vegan, Vegetarian, or Flexitarian",True,19.99,Get the tools you need for a lifestyle change ...,1713.0,4.40,41.0,13.0,14.0,82.0,2010-10-13T18:07:17Z,2019-10-09,Lifestyle,Other Lifestyle,Vegan Cooking,English,/course/see-my-personal-motivation-for-becomin...,Angela Poch,/user/angelapoch/
3,7723.0,How to Train a Puppy,True,199.99,Train your puppy the right way with Dr. Ian Du...,4988.0,4.80,395.0,88.0,36.0,1511.0,2011-06-20T20:08:38Z,2016-01-13,Lifestyle,Pet Care & Training,Pet Training,English,/course/complete-dunbar-collection/,Ian Dunbar,/user/ian-dunbar/
4,8157.0,Web Design from the Ground Up,True,159.99,Learn web design online: Everything you need t...,1266.0,4.75,38.0,12.0,38.0,569.0,2011-06-23T18:31:20Z,NaN,Design,Web Design,Web Design,English,/course/web-design-from-the-ground-up/,E Learning Lab,/user/edwin-ang-2/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209729,4913954.0,Let's Speak Urdu - The Urdu Grammar,True,19.99,Urdu - Become fluent in this beautiful South A...,3.0,0.00,0.0,0.0,5.0,54.0,2022-10-05T11:31:36Z,2022-10-06,Teaching & Academics,Language Learning,Urdu Language,English,/course/lets-speak-urdu-the-grammar/,Jawaid Hameed,/user/jawaid-hameed/
209730,4914146.0,CompTIA Linux+ (XKO-004/005 # 2 Practice Exam ...,True,49.99,Practice Latest exam questions with detailed e...,0.0,0.00,0.0,0.0,0.0,0.0,2022-10-05T12:29:23Z,2022-10-05,IT & Software,IT Certifications,CompTIA Linux+,English,/course/comptia-linux-xko-004005-2-practice-ex...,Jean-François d'Halluin,/user/badre-lini/
209731,4914002.0,CISSP 4 full exams #1 : All CISSP domains - 12...,True,49.99,Practice Latest exam questions with detailed e...,0.0,0.00,0.0,0.0,0.0,0.0,2022-10-05T11:04:05Z,2022-10-05,IT & Software,IT Certifications,CISSP - Certified Information Systems Security...,English,/course/cissp-4-full-exams-1-all-cissp-domains...,Jean-François d'Halluin,/user/badre-lini/
209732,4913934.0,JD Edwards EnterpriseOne Fixed Assets Accounti...,True,119.99,Full-length course (Part-3 of 3) on JD Edwards...,0.0,0.00,0.0,0.0,9.0,82.0,2022-10-05T10:30:19Z,2022-10-05,Finance & Accounting,Other Finance & Accounting,Financial Accounting,English,/course/jde-fixed-assets-accounting-part-3/,Niranjan Bhatia,/user/systemic-software-solutions/
209733,4914054.0,CISSP 4 full exams #2 : All CISSP domains - 12...,True,49.99,Practice Latest exam questions with detailed e...,0.0,0.00,0.0,0.0,0.0,0.0,2022-10-05T11:36:34Z,2022-10-05,IT & Software,IT Certifications,CISSP - Certified Information Systems Security...,English,/course/cissp-4-full-exams-2-all-cissp-domains...,Jean-François d'Halluin,/user/badre-lini/

Informazioni sulle tabelle ed eventuali valori vuoti

In [31]:

#comments.info()
comments.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9411727 entries, 0 to 9411726
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   course_id     int64
 2   rate          float64
 3   date          object
 4   display_name  object
 5   comment       object
dtypes: float64(1), int64(2), object(3)
memory usage: 430.8+ MB

id                  0
course_id           0
rate                0
date                0
display_name    75362
comment          6333
dtype: int64

In [32]:
courses.isnull().sum()

id                      0
title                   0
is_paid                 0
price                   0
headline               27
num_subscribers         0
avg_rating              0
num_reviews             0
num_comments            0
num_lectures            0
content_length_min      0
published_time          0
last_update_date      137
category                0
subcategory             0
topic                 958
language                0
course_url              0
instructor_name         5
instructor_url        427
dtype: int64

# Pre-processing

## Cleaning

Rimozione di eventuali colonne duplicate

In [34]:
dups = comments.duplicated()
print(dups.any())
#print(comments[dups])
#comments.drop_duplicates(inplace=True)

False

## Rimozione di colonne inutili

Rimozione colonne non utili in modo da ridurre la dimensione dei file csv

In [35]:
comments = comments.drop('comment', axis=1)
comments = comments.drop('id', axis=1) #497MB
courses = courses.drop('is_paid', axis=1)

comments['date'] = pd.to_datetime(comments['date'], errors='coerce', utc=True).dt.strftime('%Y-%m-%d') #363MB

comments

         course_id  rate        date   display_name
0          3173036   1.0  2021-06-30          Rahul
1          4913148   5.0  2022-10-07          Marlo
2          3178386   3.5  2020-10-19  Yamila Andrea
3          3175814   5.0  2022-10-01     Jacqueline
4          3174896   4.5  2021-01-30        Anthony
...            ...   ...         ...            ...
9411722     567828   5.0  2020-05-10        Rogelio
9411723     567828   5.0  2020-05-10    Rao Saurabh
9411724     567828   5.0  2020-05-10        Raveesh
9411725     567828   5.0  2020-05-10        Wendell
9411726     567828   5.0  2020-05-10        FATIMAH

[9411727 rows x 4 columns]

# Export dei database ridotti

In [36]:
comments.to_csv('comments_edited.csv')
courses.to_csv('courses_edited.csv')